<h1> Aqui jaz o meu codigo tentando criar uma view para o método de instancia </h1>
<h2> games#testeDeGame</h2>

<ul>
  <li> Nome do game é <%= @nomeDoGame%>
  </li>

  <li> O preco do game é <%= @preco%>
  </li>

  <li> O estudio que fez o game é  <%= @studio%>
  </li>

</ul>

<%= link_to "Ir para a primeira pagina", games_path %>
<%= link_to "Ir para a pagina up", rails_health_check_path %>
